
section {
	min-height:500px;
}

section h3 {
	font-size:12px;
}

:global .verticalList {
	position: fixed;
}

:global .horziontalList {
	position: relative;
}

:global .active {
	color: red;
}
:global a , :global a:focus, :global a.active {
	text-decoration: none; color:#0275d8;
}
:global a:hover {
	text-decoration: none;
	color:#0275d8;
}
